<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 40px 15px;text-align: center;">
                <h1>Oops!</h1>
                <h2>500 Internal Server Error</h2>
                <div class="error-details">
                    Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.
                </div>
            </div>
        </div>
    </div>
</div>
